.icon {
            
    overflow: hidden;
    position: relative;
    
}

.countdown-timer-fade {
    opacity: 1;
  }
  
  .card:hover .countdown-timer-fade {
    opacity: 0;
  }
  

.icon::before {
    content: '';
    background: rgba(255, 255, 255, 0.4);
    width: 70%;
    height: 100%;
    top: 0;
    left: -200%;
    transform: skew(-45deg);
    position: absolute;
    
    z-index: 1;
}

.card:hover .icon::before {
    animation: shine .7s forwards;
}

@keyframes shine {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
        opacity: 0; /* Fade out */
    }
}
.icon:hover img {
    transform: scale(1.1);
}
